.iphones {
    width: 80%;
    margin: auto;
}

.the-product {
    height: 295px;
    border: solid gray 1px;
    padding-top: 10px;
    padding-left: 10px;
    float: left;
    width: 20%;
    margin: 5px;
    font-family: Roboto;
}

h1 {
    font-family: Roboto;
    margin-left: 135px;
}

h2 {
    margin-top: 1px;
    font-size: 20px;
}

.the-product img {
    width: 224px;
}

.the-product button {
    padding: 7px 50px;
    color: white;
    background-color: blue;
    margin-top: -10px;
}

.parg {
    width: 220px;
    color: gray;
    font-size: 15px;
    margin-top: -10px;
}

.first-price {
    color: green;
}

.second-price {
    color: red;
    font-size: 14px;
    text-decoration: line-through;
}


.second-price,
.first-price {
    float: left;
    width: 27%;
    margin-top: -10px;

}

.clearfix {
    clear: left;
}